html {
	background-image: none;
	background-color: rgb(0,0,0);
}

body{
	width: 100%;
}
#bodyWrapper {
	width: 100%;
}

#container {
	width: 100%;
}

#content {
	width: 100%;
}

.blog {
	width: auto;
	padding: 0;
}

video {
	width: 100%;
}

#svgPic{
	width: 100%;
}
#menu {
	float: none;
	width: auto;
	margin-bottom: 50px;
}

#menu a {
	width: auto;
}

#menu a:hover {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

#menu a.active
{
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}
#start {
	background-image: none;
}

#start:hover {
	background-image: none;
}

#lab {
	background-image: none;
}

#lab:hover {
	background-image: none;
}

#pres {
	background-image: none;
}

#pres:hover {
	background-image: none;
}

#kont {
	background-image: none;
}

#kont:hover {
	background-image: none;
}

#form {
	width: 100%;
}