html, body, div {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;

	background: rgb(237, 237, 237);
}

table {
	border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
}

td {
	padding: 2px; 
}

#bodyWrapper {
	width: 1200px;
	overflow: auto;
	margin: auto;

	background-color: rgb(241, 241, 241);
}

#logoPic {
	width: 189px;
	height: 109px;
	margin: auto;
}
#menu {
	width: 190px;
	float: left;
	background: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, .2);
}

#container {
	width: 1100px;
	float: right;
	margin-top: 50px;
}

#content {
	width: 700px;
	margin: auto;
}

#contentAfter {
	background: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, .2);
	padding: 50px;
	margin-bottom: 100px;
}
.blog {
	width: 650px;
	background: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, .2);
	padding: 50px;
	margin-bottom: 50px;
}

#presentation h2 {
	margin-top: 50px;
}
#form {
	width: 400px;
}

#footerWrapper {
	clear: both;
	height: 50px;
	width: 100%;
}

#footerWrapper p {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}