html, body, div, p {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
	/*background: rgb(237, 237, 237); */
	background-image:url('pics/greyBack.png');
	background-attachment: fixed;
}

ol, dt, dd, ul{
	font-weight: bold;
}

table {
	border-collapse: collapse;
	margin-bottom: 50px;
}

table, th, td {
   border: 1px solid black;
}

td {
	padding: 5px; 
	font-weight: bold;
}

p {
	font-weight: bold;
}

h2 {
	font-size: 30px;
	text-decoration: underline;
}

a {
	font-size: 16px;
	font-weight: bold;
}

#bodyWrapper {
	width: 1200px;
	overflow: auto;
	margin: auto;
	background-color: rgba(241, 241, 241, 0.8);
}

#logoPic {
	width: 189px;
	height: 109px;
	margin: auto;
}

/*Menu buttons --------- Start */
#menu {
	width: 190px;
	float: left;
	background: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, .5);
	text-decoration: none;
	overflow: auto;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#menu a {
	display: block;
	color: rgb(0, 0, 0);
	width: 185px;
	text-decoration: none;
	padding: 10px 0px 10px 5px;
	
 	
	
}

/*#menu .active {
	color: rgb(237, 237, 237);
	background: rgb(0, 0, 0); 
}
*/
#menu a:hover {
}

#start {
	background-image: url('pics/sprite.png');
	background-repeat: no-repeat;
	background-position: 150px -40px;
}

#start:hover {
	background-image: url('pics/sprite.png');
	background-repeat: no-repeat;
	background-position: 150px 8px;
}

#lab {
	background-image: url('pics/sprite.png');
 	background-repeat: no-repeat;
	background-position: 150px -138px;
}

#lab:hover {
	background-image: url('pics/sprite.png');
 	background-repeat: no-repeat;
	background-position: 150px -90px;
}

#pres {
	background-image: url('pics/sprite.png');
 	background-repeat: no-repeat;
	background-position: 150px -230px;
}

#pres:hover {
	background-image: url('pics/sprite.png');
 	background-repeat: no-repeat;
	background-position: 150px -182px;
}

#kont {
	background-image: url('pics/sprite.png');
 	background-repeat: no-repeat;
	background-position: 150px -328px;
}

#kont:hover {
	background-image: url('pics/sprite.png');
 	background-repeat: no-repeat;
	background-position: 150px -280px;
}
/*Menu buttons --------- End */

#container {
	width: 1100px;
	float: right;
	margin-top: 50px;
}

#content {
	width: 700px;
	margin: auto;
}

#contentAfter {
	background: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, .5);
	padding: 50px;
	margin-bottom: 100px;
}
.blog {
	width: 650px;
	overflow: auto;
	background: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, .5);
	padding: 50px;
	margin-bottom: 50px;
}

.blogPic {
	background-image:url('pics/blogPic.png');
	background-repeat: no-repeat;
	height: 45px;
	width: 45px;
	margin-top: 10px;
}

.author {
	margin-top: 20px;
}

#candyPic {
	height: 200px;
	width: auto;
	float: right;
}

#presentation h2 {
	margin-top: 50px;
}

#presentation img {
	border: 2px solid rgba(0, 0, 0, .5);
}

#form {
	width: 400px;
	margin: auto;
}

.formBorder {
	padding: 10px;
}

#dropdown {
	margin-left: 5px;
}

#headline {
	margin-left: 24px;
	margin-top: 15px;
}

#question {
	margin-left: 32px;
	margin-top: 15px;
}

#checkbox {
	margin-left: 26px; 
}

#checkbox2 {
	margin-left: 10px;
}

#button {
	margin-top: 10px;
	background-color: rgba(0, 0, 0, .1);
	border-radius: 2px;
}

#hcard-Adam-Lundberg {
	visibility: hidden;
}

#footerWrapper {
	clear: both;
	height: 50px;
	width: 100%;
}

#footerWrapper p {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
}


